[Unit]
Description=Caddy container

[Container]
ContainerName=caddy
Image=docker.io/library/caddy:latest
Volume=/etc/caddy:/etc/caddy:Z
Volume=/etc/caddy/site:/srv:Z
Volume=/etc/caddy/data:/data:Z
Volume=/etc/caddy/config:/config:Z
Volume=/etc/caddy/logs:/var/log/caddy:Z
Pod=web.pod

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
